extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="/css/forms.css")
  link(rel="stylesheet", href="/css/auth.css")

block content
  main
    if errorMessage.length
      div.user-message.user-message--error #{errorMessage}
    form.login-form(action="/login", method="POST")
      .form-control
        label(for="email") E-mail
        input(type="email", 
        name="email", 
        value=oldInput.email,
        class=validationErrors.find(e => e.param === "email") ? "invalid" : "")#email
      .form-control
        label(for="password") Password
        input(type="password", 
        name="password",
        value=oldInput.password,
        class=validationErrors.find(e => e.param === "password") ? "invalid" : "")#password
      input(type="hidden", name="_csrf", value=csrfToken)
      button.btn(type="submit") Login
    div.centered
      a(href="/reset") Reset Password
    